h1 {
  text-align: center;
}
.jumbotron {
  margin-top: 25px;

}
.flip-image {
  transform: scaleX(-1);
}

#arrow {
  width: 75%;
}

.main {
  height: 275px;
}

#roll-button {
  width: 85px;
  height: 60px;
}

#hold-button {
  width: 85px;
  height: 60px;
}

.float-dice {
  float: right;
}

.winner {
  display: none;
}
